<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baihe.dao.UserDao">

    <select id="checkRepeat" resultType="java.lang.Integer">
        select count(userid) from `user` where ${column} = #{value}
        <if test="id != null">
            and userid != #{id}
        </if>
    </select>

    <select id="findByUsername" resultType="com.baihe.vo.UserVo">
        select * from `user` where `username` = #{username}
    </select>

    <select id="findByPhone" resultType="com.baihe.vo.UserVo">
        select * from `user` where `phone` = #{phone}
    </select>

    <select id="findByName" resultType="com.baihe.vo.UserVo">
        select `user`.* from `user_info`

        where 1 = 1
        <if test="name != null and name != '' and name != 'all'">
            and `user`.`username` like concat('%', #{name}, '%')
        </if>
        order by `user`.userid
    </select>
    <select id="count" resultType="Integer">
        select count(userid) from `user`
    </select>
</mapper>